{% extends "base_frame.html" %} {% block content %}
{% if count %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class = "col-md-4">
            <b><u>
                <h3>Solved Questions: {{ count }}</h3>
            </u></b>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endif %}
<br><br>

{% if questions %}
    <b>
        {% for question in questions %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-8">
                <h3><b>{{ question.id }}. {{ question.name }}</b></h3>
                <div class="row">
                    <div class="col-md-1"></div>
                    {% if question.last_solved %}
                        Last solved on:     {{ question.last_solved.replace(microsecond=0) }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class = "col-sm-10">
                        {{ question.descriptions | safe}}
                    </div>
                </div>
                {% if question.example %}
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class = "col-sm-10">
                            <br>
                            Example,<br>
                            {{ question.example | safe}}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
            {% if button %}
                <div class="text-center">
                    <a href="{{url_for('change_status', question_id=question.id)}}" class="btn-normal button-txt" style="text-decoration: none;">
                        Mark Done
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </b>
{% else %}
    <div class="row"> You have finished all the Questions or missing data </data>
{% endif %}
{% endblock %}
